.running-line {
  font-size: x-small;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(251, 239, 241);
}
.running-line .running-line_minor {
  width: 180px;
  padding: 20px;
  margin: 0;
}
.running-line hr {
  border: none;
  background-color: #333333;
  width: 1px;
  height: 30px;
  margin: 0 auto;
}
.running-line .marquee {
  width: 300%;
  overflow: hidden;
}
.running-line .marquee .track {
  width: 600%;
  display: flex;
  align-items: center;
  animation: marquee 200s linear infinite forwards;
}
.running-line .marquee .track .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33.33%;
  padding: 5px;
  list-style: none;
}
.running-line .marquee .track .content .content_element {
  display: flex;
  align-items: center;
}
.running-line .marquee .track .content .content_element .content_element_pic {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.running-line .marquee .track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}
.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: x-large;
  background-color: white;
}
.nav .nav_buttons {
  display: flex;
  align-items: center;
}
.nav .nav_buttons .nav_logIn {
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid rgb(233, 231, 231);
  border-radius: 20rem;
  padding: 0.6rem;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 2px rgba(196, 195, 195, 0.5);
}
.nav .nav_buttons .nav_logIn:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .nav_buttons .nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: white;
  border: none;
  padding: 0.5rem;
}
.nav .nav_buttons .nav_menu svg {
  width: 1.5rem;
  height: 1.5rem;
}
.nav .nav_buttons .nav_menu:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .side-menu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  opacity: 1;
  background-color: #ffffff;
  transition-duration: 0.25s;
  border-radius: 30px 0px 0px 30px;
}
.nav .side-menu .side-menu_nav {
  padding: 0px 10px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .side-menu .side-menu_nav .side-menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
}
.nav .side-menu .side-menu_nav .side-menu_button svg {
  width: 2rem;
  height: 2rem;
}
.nav .side-menu .side-menu_nav .side-menu_button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .side-menu .side-menu_explore {
  padding: 20px;
  font-size: small;
  font-weight: 400;
  color: rgb(180, 178, 178);
}
.nav .side-menu .side-menu_button {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 5px 20px 5px 20px;
}
.nav .side-menu .side-menu_button pad .side-menu_elem {
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav .side-menu .side-menu_button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .logIn {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -550px;
  width: 550px;
  height: 100vh;
  opacity: 1;
  background-color: #ffffff;
  transition-duration: 0.25s;
}
.nav .logIn .logIn_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.nav .logIn .logIn_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
}
.nav .logIn .logIn_button svg {
  width: 2rem;
  height: 2rem;
}
.nav .logIn .logIn_button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .logIn .logIn_title {
  font-size: larger;
}
.nav .logIn .logIn_main {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.nav .logIn .logIn_main .logIn-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 20px;
}
.nav .logIn .logIn_main .logIn-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 30px 15px;
  border-radius: 10px;
  border: #333333 1px solid;
}
.nav .logIn .logIn_main .logIn-label {
  font-size: medium;
  font-weight: 300;
  color: #9b9b9b;
  position: absolute;
  left: 15px;
  top: 10px;
  line-height: 40px;
  transition: 0.3s;
}
.nav .logIn .logIn_main .logIn-label_filled {
  font-size: medium;
  font-weight: 300;
  color: #9b9b9b;
  position: absolute;
  left: 15px;
  top: 5px;
  line-height: 40px;
  transition: 0.3s;
  top: -8px;
  font-size: 10px;
  font-size: x-small;
}
.nav .logIn .logIn_main .logIn-input:focus ~ .logIn-label,
.nav .logIn .logIn_main .logIn-input:not(:focus):valid ~ .logIn-label {
  top: -8px;
  font-size: 10px;
  font-size: x-small;
}
.nav .logIn .logIn_main .logIn_resetPassword {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  align-items: start;
}
.nav .logIn .logIn_main .logIn_pinkButton {
  font-size: small;
  font-weight: 400;
  background-color: #ffffff;
  color: #c776a8;
  padding: 0;
  margin: 0;
  border: none;
}
.nav .logIn .logIn_main .logIn_pinkButton:hover {
  border-bottom: #333333 1px solid;
  cursor: pointer;
}
.nav .logIn .logIn_main .logIn_blackButton {
  height: 40px;
  background-color: black;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav .logIn .logIn_main .logIn_blackButton:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71);
}
.nav .logIn .logIn_main .logIn_line {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav .logIn .logIn_main .logIn_line hr {
  height: 1px;
  background-color: #cecece;
  border: none;
  width: 100%;
}
.nav .logIn .logIn_main .logIn_whiteButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: rgb(135, 135, 135) 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav .logIn .logIn_main .logIn_whiteButton svg {
  width: 1rem;
  height: 1rem;
}
.nav .logIn .logIn_main .logIn_whiteButton:hover {
  cursor: pointer;
  border-color: black;
}
.nav .logIn .logIn_main .logIn_create {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 400;
}
.nav .logIn .logIn_main .logIn_create span {
  margin-right: 2px;
}
.nav .open {
  visibility: visible;
  right: 0;
}

.beckoningInfo .verticalMarquee {
  font-size: 5rem;
  height: 7rem;
  overflow: hidden;
}
.beckoningInfo .verticalMarquee .verticalTrack {
  padding-left: 50px;
  margin: 0;
  animation: vertical-scroll 10s steps(5, end) infinite;
  list-style: none;
}
.beckoningInfo .blockWithMarquee_mediumText {
  padding-left: 50px;
  font-size: 4rem;
}
.beckoningInfo .blockWithMarquee_smallText {
  padding-left: 50px;
  font-size: 2rem;
  font-weight: 200;
}
.beckoningInfo .beckoningInfo_moreInfo {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  height: 20rem;
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button {
  opacity: 0.5;
  background-position: center center;
  padding: 0px 50px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  border-radius: 2rem;
  border: none;
  background-size: cover;
  color: black;
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button:hover {
  opacity: 1;
  cursor: pointer;
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_red {
  background-image: url(../../public/cbt.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_green {
  background-image: url(../../public/hands.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_blue {
  background-image: url(../../public/smile.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_yellow {
  background-image: url(../../public/flower.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_violet {
  background-image: url(../../public/listen.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_pink {
  background-image: url(../../public/free.jpg);
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_red:hover {
  background-image: none;
  background: #f56464;
  background: linear-gradient(90deg, rgb(245, 100, 100) 35%, rgb(255, 218, 166) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#F56464", endColorstr="#FFDAA6", GradientType=1 );
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_green:hover {
  background: #9bbea2;
  background: linear-gradient(90deg, rgb(155, 190, 162) 50%, rgb(255, 207, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9BBEA2", endColorstr="#FFCF75", GradientType=1 );
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_blue:hover {
  background: #dbb2cb;
  background: linear-gradient(90deg, rgb(219, 178, 203) 36%, rgb(125, 166, 182) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#DBB2CB", endColorstr="#7DA6B6", GradientType=1 );
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_yellow:hover {
  background: #63d0ff;
  background: linear-gradient(90deg, rgb(99, 208, 255) 0%, rgb(255, 237, 122) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#63D0FF", endColorstr="#FFED7A", GradientType=1 );
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_violet:hover {
  background: #b67da2;
  background: linear-gradient(90deg, rgb(182, 125, 162) 50%, rgb(255, 207, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#B67DA2", endColorstr="#FFCF75", GradientType=1 );
}
.beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button_pink:hover {
  background: #b8c8e6;
  background: linear-gradient(90deg, rgb(184, 200, 230) 36%, rgb(220, 177, 212) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#B8C8E6", endColorstr="#DCB1D4", GradientType=1 );
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0, 0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media (max-width: 1000px) {
  .running-line {
    font-size: xx-small;
  }
  .running-line hr {
    height: 25px;
  }
  .running-line .marquee {
    width: 900%;
  }
  .running-line .marquee .track {
    width: 1200%;
  }
  .nav .side-menu {
    padding: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .nav .logIn {
    padding: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
  }
  .nav .open {
    visibility: visible;
    right: 0%;
  }
  .beckoningInfo .verticalMarquee {
    font-size: 2rem;
    height: 3rem;
  }
  .beckoningInfo .verticalMarquee .verticalTrack {
    padding-left: 40px;
  }
  .beckoningInfo .blockWithMarquee_mediumText {
    padding-left: 40px;
    font-size: 2rem;
  }
  .beckoningInfo .blockWithMarquee_smallText {
    font-size: 1.5rem;
    padding-left: 40px;
  }
  .beckoningInfo .beckoningInfo_moreInfo {
    padding: 30px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    height: 30rem;
  }
}
@media (max-width: 450px) {
  .nav .logIn .logIn_main {
    padding-left: 40px;
    padding-right: 40px;
  }
  .nav .logIn .logIn_main .logIn_whiteButton {
    padding-left: 30px;
    padding-right: 30px;
  }
  .beckoningInfo {
    padding: 5px;
  }
  .beckoningInfo .verticalMarquee {
    font-size: 1.5rem;
    height: 2.5rem;
  }
  .beckoningInfo .verticalMarquee .verticalTrack {
    padding-left: 20px;
  }
  .beckoningInfo .blockWithMarquee_mediumText {
    padding-left: 20px;
    font-size: 1.2rem;
  }
  .beckoningInfo .blockWithMarquee_smallText {
    font-size: 1rem;
    padding-left: 20px;
  }
  .beckoningInfo .beckoningInfo_moreInfo {
    padding: 30px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    height: 60rem;
  }
  .beckoningInfo .beckoningInfo_moreInfo .beckoningInfo_button {
    padding: 0px 20px;
  }
}/*# sourceMappingURL=App.css.map */