$mainpink: rgb(251, 239, 241);
$pink: #c776a8;
$red: rgb(199, 4, 4);
$greyhover: rgb(223, 223, 223);

.no-underline {
  text-decoration: none;
}

.running-line {
  font-size: x-small;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $mainpink;
  .running-line_text {
    width: 180px;
    padding: 20px;
    margin: 0;
  }
  hr {
    border: none;
    background-color: #333333;
    width: 1px;
    height: 30px;
    margin: 0 auto;
  }
  .running-line_marquee {
    width: 300%;
    overflow: hidden;
    .running-line_track {
      width: 600%;
      display: flex;
      align-items: center;
      animation: marquee 200s linear infinite forwards;
      .track_content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 33.33%;
        padding: 5px;
        list-style: none;
        .content_element {
          display: flex;
          align-items: center;
          .element_pic {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }
    }
    .running-line_track:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: x-large;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  .nav_buttons {
    display: flex;
    align-items: center;
    .button-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10rem;
      background-color: transparent;
      border: none;
      padding: 0.5rem;
      margin-right: 0.5rem;
      position: relative;
      svg {
        width: 1.4rem;
        height: 1.4rem;
      }
      .button-cart_number {
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 20px;
        background-color: rgb(244, 244, 244);
        width: 0.8rem;
        height: 0.8rem;
        bottom: -0.1rem;
        right: -0.3rem;
      }
    }
    .button-cart:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .button-login {
      font-size: 0.8rem;
      background-color: white;
      border: 1px solid rgb(249, 249, 249);
      border-radius: 20rem;
      padding: 0.6rem 0.8rem;
      margin-right: 0.5rem;
      box-shadow: 1px 1px 10px rgba(221, 221, 221, 0.5);
    }
    .button-login:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .button-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10rem;
      background-color: transparent;
      border: none;
      padding: 0.5rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .button-menu:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
  }
  .side-menu {
    z-index: 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    opacity: 1;
    background-color: white;
    transition-duration: 0.25s;
    border-radius: 30px 0px 0px 30px;
    overflow: auto;
    .side-menu_nav {
      padding: 0px 10px 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      .side-menu_exit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1.5rem;
        border: none;
        padding: 0.5rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      .side-menu_exit-button:hover {
        cursor: pointer;
        background-color: $greyhover;
      }
    }
    .side-menu_explore {
      padding: 20px;
      font-size: small;
      font-weight: 400;
      color: rgb(180, 178, 178);
    }
    .side-menu_button {
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 10px;
      background-color: white;
      padding: 5px 20px 5px 20px;
      .button_elem {
        padding: 0px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .side-menu_button:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
  }
  .login {
    z-index: 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -550px;
    width: 550px;
    height: 100vh;
    opacity: 1;
    background-color: white;
    transition-duration: 0.25s;
    overflow: auto;
    .login_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px 0px 20px;
    }
    .login_exit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 1.5rem;
      border: none;
      padding: 0.5rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
    .login_exit-button:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .login_title {
      font-size: larger;
      margin-bottom: 10px;
    }
    .login_main {
      padding: 0px 120px 0px 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .login_welcome {
        margin-bottom: 10px;
      }
      .login-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-top: 10px;
        .input-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 10px;
          border: #333333 1px solid;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          padding: 30px 15px;
          .login-input {
            flex-grow: 1;
            padding: 5px;
            outline: none;
            cursor: default;
            border: none;
          }
          .password-eye {
            background: white;
            border: none;
          }
          .password-eye {
            cursor: pointer;
          }
        }
        .login-input_error {
          border-color: $red;
        }
        .login-label {
          font-size: medium;
          font-weight: 300;
          color: #9b9b9b;
          position: absolute;
          left: 15px;
          top: 10px;
          line-height: 40px;
          transition: 0.3s;
        }
        .login-label_filled {
          font-size: medium;
          font-weight: 300;
          color: #9b9b9b;
          position: absolute;
          left: 15px;
          top: 5px;
          line-height: 40px;
          transition: 0.3s;
          top: -8px;
          font-size: 10px;
          font-size: x-small;
        }
        .login-label_error {
          color: $red;
        }
        .login-input:focus ~ .login-label,
        .login-input:not(:focus):valid ~ .login-label {
          top: -8px;
          font-size: 10px;
          font-size: x-small;
        }
        .error-message {
          display: flex;
          align-items: center;
          justify-content: start;
          padding-left: 5px;
          font-size: x-small;
          font-weight: 300;
          color: $red;
          span {
            margin-left: 2px;
          }
        }
      }
      .login_reset-button {
        margin-top: 5px;
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .login_pink-button {
        font-size: small;
        font-weight: 400;
        background-color: #ffffff;
        color: $pink;
        padding: 0;
        margin: 0;
        border: none;
        border-bottom: white 1px solid;
      }
      .login_pink-button:hover {
        border-bottom: $pink 1px solid;
        cursor: pointer;
      }
      .login_black-button {
        height: 40px;
        background-color: black;
        color: #ffffff;
        border-radius: 20px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .login_black-button:hover {
        cursor: pointer;
        background-color: rgb(71, 71, 71);
      }
      .login_black-button:disabled {
        cursor: auto;
        background-color: rgb(128, 128, 128);
      }
      .login_line {
        display: flex;
        align-items: center;
        font-size: small;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
        hr {
          height: 1px;
          background-color: #cecece;
          border: none;
          width: 100%;
        }
      }
      .login_white-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        height: 40px;
        background-color: white;
        color: black;
        border-radius: 20px;
        border: rgb(135, 135, 135) 1px solid;
        margin-top: 10px;
        margin-bottom: 10px;
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
      .login_white-button:hover {
        cursor: pointer;
        border-color: black;
      }
      .login_create-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-weight: 400;
        span {
          margin-right: 2px;
        }
        margin-bottom: 20px;
      }
    }
  }
  .open {
    visibility: visible;
    right: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: block;
  }
  .overlay-none {
    display: none;
  }
}
.nav_grey {
  background: rgba(68, 68, 68, 0.5);
  .nav_logo {
    color: white;
  }
  .nav_buttons {
    .button-cart {
      svg {
        stroke: white;
      }
    }
    .button-cart:hover {
      background-color: #8d8d8d;
    }
    .button-login {
      box-shadow: none;
    }
    .button-menu {
      svg {
        stroke: white;
      }
    }
    .button-menu:hover {
      background-color: #8d8d8d;
    }
  }
}
.beckoning-info {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  .beckoning-info_vertical-marquee {
    padding: 0;
    font-size: 5rem;
    height: 7rem;
    overflow: hidden;
    .beckoning-info_vertical-track {
      padding: 0;
      padding-left: 50px;
      margin: 0;
      animation: vertical-scroll 15s steps(5, end) infinite;
      list-style: none;
      li {
        padding: 0;
        height: 7rem;
      }
    }
  }
  .beckoning-info_medium-text {
    padding-left: 50px;
    font-size: 4rem;
  }
  .beckoning-info_small-text {
    padding-left: 50px;
    font-size: 2rem;
    font-weight: 200;
  }
  .beckoning-info_articles {
    flex-grow: 1;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    .articles_button {
      opacity: 0.5;
      background-position: center center;
      padding: 0px 50px;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      border-radius: 2rem;
      border: none;
      background-size: cover;
      color: black;
    }
    .articles_button:hover {
      opacity: 1;
      cursor: pointer;
    }
    .articles_button_red {
      background-image: url(../../public/cbt.jpg);
    }
    .articles_button_green {
      background-image: url(../../public/hands.jpg);
    }
    .articles_button_blue {
      background-image: url(../../public/smile.jpg);
    }
    .articles_button_yellow {
      background-image: url(../../public/flower.jpg);
    }
    .articles_button_violet {
      background-image: url(../../public/listen.jpg);
    }
    .articles_button_pink {
      background-image: url(../../public/free.jpg);
    }
    .articles_button_red:hover {
      background-image: none;
      background: #f56464;
      background: -webkit-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#F56464",
  endColorstr="#FFDAA6",
  GradientType=1
);
    }
    .articles_button_green:hover {
      background: #9bbea2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#9BBEA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .articles_button_blue:hover {
      background: #dbb2cb;
      background: -webkit-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#DBB2CB",
  endColorstr="#7DA6B6",
  GradientType=1
);
    }
    .articles_button_yellow:hover {
      background: #63d0ff;
      background: -webkit-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#63D0FF",
  endColorstr="#FFED7A",
  GradientType=1
);
    }
    .articles_button_violet:hover {
      background: #b67da2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B67DA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .articles_button_pink:hover {
      background: #b8c8e6;
      background: -webkit-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B8C8E6",
  endColorstr="#DCB1D4",
  GradientType=1
);
    }
  }
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.main-course {
  position: relative;
  display: flex;
  padding: 100px 350px;
  flex-direction: column;
  align-items: center;
  color: black;
  height: 100vh;
  background-image: url('../../public/mainArticleBigScreens.webp');
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  opacity: 0.9;
  color: white;
  box-shadow: inset 0 -200px 200px rgb(48, 48, 48);
  border-radius: 40px 40px 0 0;
  h1 {
    text-align: center;
  }
  .main-course_buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 230px;
    .main-course_buttons_white {
      background-color: white;
      border: none;
      border-radius: 30px;
      width: 10rem;
      height: 3rem;
      margin-right: 7px;
    }
    .main-course_buttons_white:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .main-course_buttons_blur {
      background-color: transparent;
      border: none;
      border-radius: 30px;
      width: 10rem;
      height: 3rem;
      backdrop-filter: blur(20px);
    }
    .main-course_buttons_blur:hover {
      cursor: pointer;
      backdrop-filter: blur(50px);
    }
  }
}
.about-course_container {
  height: 100vh;
  background-color: #444444;
  border-radius: 0 0 40px 40px;
  padding: 50px 110px;
  display: flex;
  justify-content: center;
  .about-course_content {
    padding: 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 40px;
    .content_item1 {
      grid-column: 1 / 2;
      grid-row: 1 / 6;
      border-radius: 40px;
      .item1_container {
        width: 100%;
        height: 100%;
        background-color: #393939;
        opacity: 0.6;
        border-radius: 40px;

        .item1_video-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          border-radius: 40px 40px 0 0;
          overflow: hidden;
          video {
            width: 100%;
            height: 80%;
            object-fit: cover;
            object-position: 50% 60%;
          }
          .item1_button {
            font-family: 'Poppins', sans-serif;
            font-size: x-large;
            background-color: #313131;
            color: white;
            border: none;
            border-radius: 0 0 40px 40px;
            width: 100%;
            height: 20%;
          }
          .item1_button:hover {
            background-color: #292929;
            cursor: pointer;
          }
        }
      }
    }
    .content_item2 {
      position: relative;
      background-color: #393939;
      opacity: 0.5;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      border-radius: 40px;
      perspective: 500px;
      transform-style: flat;
      display: flex;
      justify-content: center;
      overflow: hidden;
      .item2_container {
        padding: 20px 30px 20px 30px;
        color: white;
        display: flex;
        justify-content: center;
        span {
          color: $red;
        }
      }
      .image {
        position: absolute;
        bottom: -40px;
        width: 90%;
        border-radius: 40px 40px 0 0;
        transform: rotateX(60deg);
      }
    }
    .content_item3 {
      background-color: #313131;
      opacity: 0.7;
      grid-column: 2 / 3;
      grid-row: 4 / 6;
      border-radius: 40px;
      overflow: hidden;
      .item3_button {
        font-family: 'Poppins', sans-serif;
        font-size: large;
        background-color: #313131;
        color: white;
        border: none;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .button_info {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: start;
          span {
            margin-left: 8px;
          }
        }
      }
      .item3_button:hover {
        background-color: #292929;
        cursor: pointer;
      }
      hr {
        background-color: white;
        border: none;
        width: 70%;
        height: 0.3px;
        margin: 0 auto;
      }
    }
  }
}

.items_container {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(5);
  grid-gap: 8rem;
  .item_container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(250, 230, 234);
    border-radius: 40px;
    .image_container {
      display: flex;
      justify-content: center;
      position: relative;
      .item_image {
        width: 100%;
        height: 15rem;
        border-radius: 40px;
      }
      .item_icon {
        animation: spin 1000ms linear infinite;
        width: 5rem;
        height: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
    .item_button-add {
      width: 10rem;
      height: 3rem;
      border: none;
      border-radius: 20px;
      background-color: #f8b7df;
      color: white;
    }
    .item_button-add:hover {
      cursor: pointer;
      background-color: #f6adda;
    }
    .item_button-delete {
      width: 10rem;
      height: 3rem;
      border: none;
      border-radius: 20px;
      background-color: #4c4c4c;
      color: white;
    }
    .item_button-delete:hover {
      cursor: pointer;
      background-color: #3f3f3f;
    }
    .item_display-none {
      display: none;
    }
    .item_display-block {
      display: block;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1280px) {
  @media (max-height: 800px) {
    .main-course {
      h1 {
        font-size: x-large;
      }
      padding: 80px 350px;
      .main-course_buttons {
        bottom: 150px;
      }
    }
    .about-course_container {
      padding: 40px 80px;
      height: 100vh;
      .about-course_content {
        .content_item1 {
          grid-row: 1 / 5;
        }
        .content_item2 {
          font-size: small;
          grid-row: 1 / 3;
          .item2_container {
            padding: 5px 20px;
          }
        }
        .content_item3 {
          grid-row: 3 / 5;
          .item3_button {
            font-size: medium;
            .button_info {
              svg {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
      }
    }
  }
  .items_container {
    padding: 60px 20px;
    grid-gap: 2rem;
  }
}
@media (max-width: 1024px) {
  @media (min-height: 700px) {
    .running-line {
      font-size: xx-small;
      hr {
        height: 25px;
      }
      .running-line_marquee {
        width: 900%;
        .running-line_track {
          width: 1200%;
        }
      }
    }
    .nav {
      .side-menu {
        padding: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        border-radius: 0;
      }
      .login {
        padding: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
      }
      .open {
        visibility: visible;
        right: 0%;
      }
    }
    .beckoning-info {
      .beckoning-info_vertical-marquee {
        font-size: 2rem;
        height: 3rem;
        .beckoning-info_vertical-track {
          padding-left: 40px;
        }
      }
      .beckoning-info_medium-text {
        padding-left: 40px;
        font-size: 2rem;
      }
      .beckoning-info_small-text {
        font-size: 1.5rem;
        padding-left: 40px;
      }
      .beckoning-info_articles {
        padding: 30px 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3px;
      }
    }
    .main-course {
      background-image: url('../../public/mainArticleSmallScreens.webp');
      height: 100vh;
      padding: 80px 100px;
      h1 {
        font-size: x-large;
      }
      .main-course_buttons {
        bottom: 150px;
      }
    }
    .about-course_container {
      height: 50vh;
      padding: 50px;
      .about-course_content {
        .content_item1 {
          grid-row: 1 / 3;
        }
        .content_item2 {
          font-size: x-small;
          grid-row: 1 / 2;
          .item2_container {
            padding: 5px 20px;
          }
        }
        .content_item3 {
          grid-row: 2 / 3;
          .item3_button {
            font-size: medium;
            .button_info {
              svg {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
      }
    }
  }
  .items_container {
    padding: 60px 20px;
    grid-gap: 2rem;
  }
}

@media (max-width: 800px) {
  .items_container {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .running-line {
    font-size: 0.5rem;
    hr {
      height: 20px;
    }
    .running-line_marquee {
      width: 1500%;
      .running-line_track {
        width: 1800%;
      }
    }
  }
  .nav {
    .login {
      .login_main {
        padding-left: 40px;
        padding-right: 40px;
        .login_white-button {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
  .beckoning-info {
    padding: 5px;
    .beckoning-info_vertical-marquee {
      font-size: 1.5rem;
      height: 2.5rem;
      .beckoning-info_vertical-track {
        padding-left: 20px;
      }
    }
    .beckoning-info_medium-text {
      padding-left: 20px;
      font-size: 1.2rem;
    }
    .beckoning-info_small-text {
      font-size: 1rem;
      padding-left: 20px;
    }
    .beckoning-info_articles {
      padding: 30px 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 3px;
      .articles_button {
        padding: 0px 20px;
      }
    }
  }
  .main-course {
    background-image: url('../../public/mainArticleSmallScreens.webp');
    height: 100vh;
    padding: 80px 100px;
    h1 {
      font-size: medium;
    }
    padding-top: 60px;
    .main-course_buttons {
      bottom: 80px;
    }
  }
  .about-course_container {
    height: 210vh;
    padding: 60px 30px;
    .about-course_content {
      display: grid;
      grid-template-columns: 1fr;
      .content_item1 {
        grid-column: 1 /1;
        grid-row: 1 / 6;
      }
      .content_item2 {
        grid-column: 1 /1;
        grid-row: 6 / 9;
        .item2_container {
          padding: 5px 20px;
        }
      }
      .content_item3 {
        grid-column: 1 /1;
        grid-row: 9 / 11;
        .item3_button {
          font-size: medium;
          .button_info {
            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }
  .items_container {
    padding: 30px 15px;
    .item_container {
      padding: 20px;
      .image_container {
        .item_image {
          height: 13rem;
        }
      }
    }
  }
  @media (min-height: 721px) {
    .about-course_container {
      height: 160vh;
    }
  }
}
@media (max-width: 540px) {
  .items_container {
    padding: 30px 30px;
    .item_container {
      padding: 40px;
      .image_container {
        .item_image {
          height: 15rem;
        }
      }
    }
  }
}
@media (max-width: 385px) {
  .about-course_container {
    height: 200vh;
  }
}
@media (max-width: 350px) {
  .about-course_container {
    height: 120vh;
  }
  @media (min-height: 700px) {
    .about-course_container {
      height: 160vh;
    }
  }
}
