.running-line {
  font-size: x-small;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(251, 239, 241);
  .running-line_minor {
    width: 180px;
    padding: 20px;
    margin: 0;
  }
  hr {
    border: none;
    background-color: #333333;
    width: 1px;
    height: 30px;
    margin: 0 auto;
  }
  .marquee {
    width: 300%;
    overflow: hidden;
    .track {
      width: 600%;
      display: flex;
      align-items: center;
      animation: marquee 200s linear infinite forwards;
      .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 33.33%;
        padding: 5px;
        list-style: none;
        .content_element {
          display: flex;
          align-items: center;
          .content_element_pic {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }
    }
    .track:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: x-large;
  background-color: white;
  .nav_buttons {
    display: flex;
    align-items: center;
    .nav_logIn {
      font-size: 0.8rem;
      background-color: white;
      border: 1px solid rgb(233, 231, 231);
      border-radius: 20rem;
      padding: 0.6rem;
      margin-right: 0.5rem;
      box-shadow: 1px 1px 2px rgba(196, 195, 195, 0.5);
    }
    .nav_logIn:hover {
      cursor: pointer;
      background-color: rgb(223, 223, 223);
    }
    .nav_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10rem;
      background-color: white;
      border: none;
      padding: 0.5rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .nav_menu:hover {
      cursor: pointer;
      background-color: rgb(223, 223, 223);
    }
  }
  .side-menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    opacity: 1;
    background-color: #ffffff;
    transition-duration: 0.25s;
    border-radius: 30px 0px 0px 30px;
    .side-menu_nav {
      padding: 0px 10px 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .side-menu_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1.5rem;
        border: none;
        padding: 0.5rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      .side-menu_button:hover {
        cursor: pointer;
        background-color: rgb(223, 223, 223);
      }
    }
    .side-menu_explore {
      padding: 20px;
      font-size: small;
      font-weight: 400;
      color: rgb(180, 178, 178);
    }
    .side-menu_button {
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 10px;
      background-color: #ffffff;
      padding: 5px 20px 5px 20px;
      pad .side-menu_elem {
        padding: 0px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .side-menu_button:hover {
      cursor: pointer;
      background-color: rgb(223, 223, 223);
    }
  }
  .open {
    visibility: visible;
    right: 0;
  }
}
.beckoningInfo {
  .verticalMarquee {
    font-size: 5rem;
    height: 7rem;
    overflow: hidden;
    .verticalTrack {
      padding-left: 50px;
      margin: 0;
      animation: vertical-scroll 10s steps(5, end) infinite;
      list-style: none;
    }
  }
  .blockWithMarquee_mediumText {
    padding-left: 50px;
    font-size: 4rem;
  }
  .blockWithMarquee_smallText {
    padding-left: 50px;
    font-size: 2rem;
    font-weight: 200;
  }
  .beckoningInfo_moreInfo {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    height: 20rem;
    .beckoningInfo_button {
      opacity: 0.5;
      background-position: center center;
      padding: 0px 50px;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      border-radius: 2rem;
      border: none;
      background-size: cover;
      color: black;
    }
    .beckoningInfo_button:hover {
      opacity: 1;
      cursor: pointer;
    }
    .beckoningInfo_button_red {
      background-image: url(../../public/cbt.jpg);
    }
    .beckoningInfo_button_green {
      background-image: url(../../public/hands.jpg);
    }
    .beckoningInfo_button_blue {
      background-image: url(../../public/smile.jpg);
    }
    .beckoningInfo_button_yellow {
      background-image: url(../../public/flower.jpg);
    }
    .beckoningInfo_button_violet {
      background-image: url(../../public/listen.jpg);
    }
    .beckoningInfo_button_pink {
      background-image: url(../../public/free.jpg);
    }
    .beckoningInfo_button_red:hover {
      background-image: none;
      background: #f56464;
      background: -webkit-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#F56464",
  endColorstr="#FFDAA6",
  GradientType=1
);
    }
    .beckoningInfo_button_green:hover {
      background: #9bbea2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#9BBEA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .beckoningInfo_button_blue:hover {
      background: #dbb2cb;
      background: -webkit-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#DBB2CB",
  endColorstr="#7DA6B6",
  GradientType=1
);
    }
    .beckoningInfo_button_yellow:hover {
      background: #63d0ff;
      background: -webkit-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#63D0FF",
  endColorstr="#FFED7A",
  GradientType=1
);
    }
    .beckoningInfo_button_violet:hover {
      background: #b67da2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B67DA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .beckoningInfo_button_pink:hover {
      background: #b8c8e6;
      background: -webkit-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B8C8E6",
  endColorstr="#DCB1D4",
  GradientType=1
);
    }
  }
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0, 0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 1000px) {
  .running-line {
    font-size: xx-small;
    hr {
      height: 25px;
    }
    .marquee {
      width: 900%;
      .track {
        width: 1200%;
      }
    }
  }
  .nav {
    .side-menu {
      padding: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      opacity: 1;
      border-radius: 0;
    }
    .open {
      visibility: visible;
      right: 0%;
    }
  }
  .beckoningInfo {
    .verticalMarquee {
      font-size: 2rem;
      height: 3rem;
      .verticalTrack {
        padding-left: 40px;
      }
    }
    .blockWithMarquee_mediumText {
      padding-left: 40px;
      font-size: 2rem;
    }
    .blockWithMarquee_smallText {
      font-size: 1.5rem;
      padding-left: 40px;
    }
    .beckoningInfo_moreInfo {
      padding: 30px 40px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 3px;
      height: 30rem;
    }
  }
}
