$mainpink: rgb(251, 239, 241);
$pink: #c776a8;
$red: rgb(199, 4, 4);
$greyhover: rgb(223, 223, 223);

.running-line {
  font-size: x-small;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $mainpink;
  .running-line_minor {
    width: 180px;
    padding: 20px;
    margin: 0;
  }
  hr {
    border: none;
    background-color: #333333;
    width: 1px;
    height: 30px;
    margin: 0 auto;
  }
  .marquee {
    width: 300%;
    overflow: hidden;
    .track {
      width: 600%;
      display: flex;
      align-items: center;
      animation: marquee 200s linear infinite forwards;
      .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 33.33%;
        padding: 5px;
        list-style: none;
        .content_element {
          display: flex;
          align-items: center;
          .content_element_pic {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }
    }
    .track:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: x-large;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  .nav_buttons {
    display: flex;
    align-items: center;
    .nav_logIn {
      font-size: 0.8rem;
      background-color: white;
      border: 1px solid rgb(249, 249, 249);
      border-radius: 20rem;
      padding: 0.6rem 0.8rem;
      margin-right: 0.5rem;
      box-shadow: 1px 1px 10px rgba(221, 221, 221, 0.5);
    }
    .nav_logIn:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .nav_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10rem;
      background-color: transparent;
      border: none;
      padding: 0.5rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .nav_menu:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
  }
  .side-menu {
    z-index: 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    opacity: 1;
    background-color: white;
    transition-duration: 0.25s;
    border-radius: 30px 0px 0px 30px;
    overflow: auto;
    .side-menu_nav {
      padding: 0px 10px 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      .side-menu_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1.5rem;
        border: none;
        padding: 0.5rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      .side-menu_button:hover {
        cursor: pointer;
        background-color: $greyhover;
      }
    }
    .side-menu_explore {
      padding: 20px;
      font-size: small;
      font-weight: 400;
      color: rgb(180, 178, 178);
    }
    .side-menu_button {
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 10px;
      background-color: white;
      padding: 5px 20px 5px 20px;
      pad .side-menu_elem {
        padding: 0px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .side-menu_button:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
  }
  .logIn {
    z-index: 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -550px;
    width: 550px;
    height: 100vh;
    opacity: 1;
    background-color: white;
    transition-duration: 0.25s;
    overflow: auto;
    .logIn_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px 0px 20px;
    }
    .logIn_button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 1.5rem;
      border: none;
      padding: 0.5rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
    .logIn_button:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .logIn_title {
      font-size: larger;
      margin-bottom: 10px;
    }
    .logIn_main {
      padding: 0px 120px 0px 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .main_welcome {
        margin-bottom: 10px;
      }
      .logIn-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-top: 10px;

        .logIn-input {
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          padding: 30px 15px;
          border-radius: 10px;
          border: #333333 1px solid;
        }
        .logIn-input_error {
          border-color: $red;
        }
        .logIn-label {
          font-size: medium;
          font-weight: 300;
          color: #9b9b9b;
          position: absolute;
          left: 15px;
          top: 10px;
          line-height: 40px;
          transition: 0.3s;
        }
        .logIn-label_filled {
          font-size: medium;
          font-weight: 300;
          color: #9b9b9b;
          position: absolute;
          left: 15px;
          top: 5px;
          line-height: 40px;
          transition: 0.3s;
          top: -8px;
          font-size: 10px;
          font-size: x-small;
        }
        .logIn-label_error {
          color: $red;
        }
        .logIn-input:focus ~ .logIn-label,
        .logIn-input:not(:focus):valid ~ .logIn-label {
          top: -8px;
          font-size: 10px;
          font-size: x-small;
        }
        .errorMessage {
          display: flex;
          align-items: center;
          justify-content: start;
          padding-left: 5px;
          font-size: x-small;
          font-weight: 300;
          color: $red;
          span {
            margin-left: 2px;
          }
        }
      }
      .logIn_resetPassword {
        margin-top: 5px;
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .logIn_pinkButton {
        font-size: small;
        font-weight: 400;
        background-color: #ffffff;
        color: $pink;
        padding: 0;
        margin: 0;
        border: none;
        border-bottom: white 1px solid;
      }
      .logIn_pinkButton:hover {
        border-bottom: $pink 1px solid;
        cursor: pointer;
      }
      .logIn_blackButton {
        height: 40px;
        background-color: black;
        color: #ffffff;
        border-radius: 20px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .logIn_blackButton:hover {
        cursor: pointer;
        background-color: rgb(71, 71, 71);
      }
      .logIn_blackButton:disabled {
        cursor: auto;
        background-color: rgb(128, 128, 128);
      }
      .logIn_line {
        display: flex;
        align-items: center;
        font-size: small;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
        hr {
          height: 1px;
          background-color: #cecece;
          border: none;
          width: 100%;
        }
      }
      .logIn_whiteButton {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        height: 40px;
        background-color: white;
        color: black;
        border-radius: 20px;
        border: rgb(135, 135, 135) 1px solid;
        margin-top: 10px;
        margin-bottom: 10px;
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
      .logIn_whiteButton:hover {
        cursor: pointer;
        border-color: black;
      }
      .logIn_create {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-weight: 400;
        span {
          margin-right: 2px;
        }
        margin-bottom: 20px;
      }
    }
  }
  .open {
    visibility: visible;
    right: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: block;
  }
  .overlayNone {
    display: none;
  }
}
.navGrey {
  background: rgba(68, 68, 68, 0.5);
  .logo {
    color: white;
  }
  .nav_buttons {
    .nav_logIn {
      box-shadow: none;
    }
  }
}
.beckoningInfo {
  background-color: white;
  .verticalMarquee {
    padding: 0;
    font-size: 5rem;
    height: 7rem;
    overflow: hidden;
    .verticalTrack {
      padding: 0;
      padding-left: 50px;
      margin: 0;
      animation: vertical-scroll 15s steps(5, end) infinite;
      list-style: none;
      li {
        padding: 0;
        height: 7rem;
      }
    }
  }
  .blockWithMarquee_mediumText {
    padding-left: 50px;
    font-size: 4rem;
  }
  .blockWithMarquee_smallText {
    padding-left: 50px;
    font-size: 2rem;
    font-weight: 200;
  }
  .beckoningInfo_moreInfo {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    height: 20rem;
    .beckoningInfo_button {
      opacity: 0.5;
      background-position: center center;
      padding: 0px 50px;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      border-radius: 2rem;
      border: none;
      background-size: cover;
      color: black;
    }
    .beckoningInfo_button:hover {
      opacity: 1;
      cursor: pointer;
    }
    .beckoningInfo_button_red {
      background-image: url(../../public/cbt.jpg);
    }
    .beckoningInfo_button_green {
      background-image: url(../../public/hands.jpg);
    }
    .beckoningInfo_button_blue {
      background-image: url(../../public/smile.jpg);
    }
    .beckoningInfo_button_yellow {
      background-image: url(../../public/flower.jpg);
    }
    .beckoningInfo_button_violet {
      background-image: url(../../public/listen.jpg);
    }
    .beckoningInfo_button_pink {
      background-image: url(../../public/free.jpg);
    }
    .beckoningInfo_button_red:hover {
      background-image: none;
      background: #f56464;
      background: -webkit-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(245, 100, 100, 1) 35%,
        rgba(255, 218, 166, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#F56464",
  endColorstr="#FFDAA6",
  GradientType=1
);
    }
    .beckoningInfo_button_green:hover {
      background: #9bbea2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(155, 190, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#9BBEA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .beckoningInfo_button_blue:hover {
      background: #dbb2cb;
      background: -webkit-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      background: linear-gradient(
        90deg,
        rgba(219, 178, 203, 1) 36%,
        rgba(125, 166, 182, 1) 76%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#DBB2CB",
  endColorstr="#7DA6B6",
  GradientType=1
);
    }
    .beckoningInfo_button_yellow:hover {
      background: #63d0ff;
      background: -webkit-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(99, 208, 255, 1) 0%,
        rgba(255, 237, 122, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#63D0FF",
  endColorstr="#FFED7A",
  GradientType=1
);
    }
    .beckoningInfo_button_violet:hover {
      background: #b67da2;
      background: -webkit-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(182, 125, 162, 1) 50%,
        rgba(255, 207, 117, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B67DA2",
  endColorstr="#FFCF75",
  GradientType=1
);
    }
    .beckoningInfo_button_pink:hover {
      background: #b8c8e6;
      background: -webkit-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: -moz-linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      background: linear-gradient(
        90deg,
        rgba(184, 200, 230, 1) 36%,
        rgba(220, 177, 212, 1) 71%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#B8C8E6",
  endColorstr="#DCB1D4",
  GradientType=1
);
    }
  }
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.mainArticle {
  position: relative;
  display: flex;
  padding: 100px 350px;
  flex-direction: column;
  align-items: center;
  color: black;
  height: 100vh;
  background-image: url('../../public/mainArticleBigScreens.webp');
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  opacity: 0.9;
  color: white;
  box-shadow: inset 0 -200px 200px rgb(48, 48, 48);
  border-radius: 40px 40px 0 0;
  h1 {
    text-align: center;
  }
  .mainArticle_buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 230px;
    .mainArticle_whiteButton {
      background-color: white;
      border: none;
      border-radius: 30px;
      width: 10rem;
      height: 3rem;
      margin-right: 7px;
    }
    .mainArticle_whiteButton:hover {
      cursor: pointer;
      background-color: $greyhover;
    }
    .mainArticle_blurButton {
      background-color: transparent;
      border: none;
      border-radius: 30px;
      width: 10rem;
      height: 3rem;
      backdrop-filter: blur(20px);
    }
    .mainArticle_blurButton:hover {
      cursor: pointer;
      backdrop-filter: blur(50px);
    }
  }
}
.articles {
  height: 100vh;
  background-color: #444444;
  border-radius: 0 0 40px 40px;
}

@media (max-width: 1000px) {
  .running-line {
    font-size: xx-small;
    hr {
      height: 25px;
    }
    .marquee {
      width: 900%;
      .track {
        width: 1200%;
      }
    }
  }
  .nav {
    .side-menu {
      padding: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      border-radius: 0;
    }
    .logIn {
      padding: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
    }
    .open {
      visibility: visible;
      right: 0%;
    }
  }
  .beckoningInfo {
    .verticalMarquee {
      font-size: 2rem;
      height: 3rem;
      .verticalTrack {
        padding-left: 40px;
      }
    }
    .blockWithMarquee_mediumText {
      padding-left: 40px;
      font-size: 2rem;
    }
    .blockWithMarquee_smallText {
      font-size: 1.5rem;
      padding-left: 40px;
    }
    .beckoningInfo_moreInfo {
      padding: 30px 40px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 3px;
      height: 30rem;
    }
  }
  .mainArticle {
    background-image: url('../../public/mainArticleSmallScreens.webp');
    height: 100vh;
    padding: 80px 150px;
    h1 {
      font-size: x-large;
    }
    .mainArticle_buttons {
      bottom: 150px;
    }
  }
}

@media (max-width: 450px) {
  .nav {
    .logIn {
      .logIn_main {
        padding-left: 40px;
        padding-right: 40px;
        .logIn_whiteButton {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
  .beckoningInfo {
    padding: 5px;
    .verticalMarquee {
      font-size: 1.5rem;
      height: 2.5rem;
      .verticalTrack {
        padding-left: 20px;
      }
    }
    .blockWithMarquee_mediumText {
      padding-left: 20px;
      font-size: 1.2rem;
    }
    .blockWithMarquee_smallText {
      font-size: 1rem;
      padding-left: 20px;
    }
    .beckoningInfo_moreInfo {
      padding: 30px 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 3px;
      height: 60rem;
      .beckoningInfo_button {
        padding: 0px 20px;
      }
    }
  }
  .mainArticle {
    padding-top: 60px;
    .mainArticle_buttons {
      bottom: 80px;
    }
  }
}
