.no-underline {
  text-decoration: none;
}

.running-line {
  font-size: x-small;
  font-weight: 300;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(251, 239, 241);
}
.running-line .running-line_text {
  width: 180px;
  padding: 20px;
  margin: 0;
}
.running-line hr {
  border: none;
  background-color: #333333;
  width: 1px;
  height: 30px;
  margin: 0 auto;
}
.running-line .running-line_marquee {
  width: 300%;
  overflow: hidden;
}
.running-line .running-line_marquee .running-line_track {
  width: 600%;
  display: flex;
  align-items: center;
  animation: marquee 200s linear infinite forwards;
}
.running-line .running-line_marquee .running-line_track .track_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33.33%;
  padding: 5px;
  list-style: none;
}
.running-line .running-line_marquee .running-line_track .track_content .content_element {
  display: flex;
  align-items: center;
}
.running-line .running-line_marquee .running-line_track .track_content .content_element .element_pic {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.running-line .running-line_marquee .running-line_track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}
.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: x-large;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
}
.nav .nav_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav_main .nav_main-button {
  margin-left: 20px;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 20rem;
  padding: 0.6rem 0.8rem;
  box-shadow: 1px 1px 10px rgba(221, 221, 221, 0.5);
  color: black;
}
.nav .nav_main .nav_main-button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .nav_buttons {
  display: flex;
  align-items: center;
}
.nav .nav_buttons .button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.nav .nav_buttons .button-cart svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: black;
}
.nav .nav_buttons .button-cart .button-cart_number {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  width: 0.8rem;
  height: 0.8rem;
  bottom: -0.1rem;
  right: -0.3rem;
  color: black;
}
.nav .nav_buttons .button-cart:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .nav_buttons .button-login {
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 20rem;
  padding: 0.6rem 0.8rem;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 10px rgba(221, 221, 221, 0.5);
  color: black;
}
.nav .nav_buttons .button-login:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .nav_buttons .button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  color: black;
}
.nav .nav_buttons .button-menu svg {
  width: 1.5rem;
  height: 1.5rem;
}
.nav .nav_buttons .button-menu:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .side-menu {
  z-index: 7;
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  opacity: 1;
  background-color: white;
  transition-duration: 0.25s;
  border-radius: 30px 0px 0px 30px;
  overflow: auto;
}
.nav .side-menu .side-menu_nav {
  padding: 0px 10px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.nav .side-menu .side-menu_nav .side-menu_exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
}
.nav .side-menu .side-menu_nav .side-menu_exit-button svg {
  width: 2rem;
  height: 2rem;
  fill: black;
}
.nav .side-menu .side-menu_nav .side-menu_exit-button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .side-menu .side-menu_explore {
  padding: 20px;
  font-size: small;
  font-weight: 400;
  color: rgb(180, 178, 178);
}
.nav .side-menu .side-menu_button {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 5px 20px 5px 20px;
  color: black;
}
.nav .side-menu .side-menu_button .button_elem {
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  fill: black;
}
.nav .side-menu .side-menu_button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .login {
  z-index: 7;
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -550px;
  width: 550px;
  height: 100vh;
  opacity: 1;
  background-color: white;
  transition-duration: 0.25s;
  overflow: auto;
}
.nav .login .login_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.nav .login .login_exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
}
.nav .login .login_exit-button svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}
.nav .login .login_exit-button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.nav .login .login_title {
  font-size: larger;
  margin-bottom: 10px;
}
.nav .login .login_main {
  padding: 0px 120px 0px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.nav .login .login_main .login_welcome {
  margin-bottom: 10px;
}
.nav .login .login_main .login-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 10px;
}
.nav .login .login_main .login-item .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: #333333 1px solid;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 30px 15px;
}
.nav .login .login_main .login-item .input-container .login-input {
  flex-grow: 1;
  padding: 5px;
  outline: none;
  cursor: default;
  border: none;
}
.nav .login .login_main .login-item .input-container .password-eye {
  background: white;
  border: none;
}
.nav .login .login_main .login-item .input-container .password-eye .eye {
  stroke: black;
}
.nav .login .login_main .login-item .input-container .password-eye {
  cursor: pointer;
}
.nav .login .login_main .login-item .login-input_error {
  border-color: rgb(199, 4, 4);
}
.nav .login .login_main .login-item .login-label {
  font-size: medium;
  font-weight: 300;
  color: #9b9b9b;
  position: absolute;
  left: 15px;
  top: 10px;
  line-height: 40px;
  transition: 0.3s;
}
.nav .login .login_main .login-item .login-label_filled {
  font-size: medium;
  font-weight: 300;
  color: #9b9b9b;
  position: absolute;
  left: 15px;
  top: 5px;
  line-height: 40px;
  transition: 0.3s;
  top: -8px;
  font-size: 10px;
  font-size: x-small;
}
.nav .login .login_main .login-item .login-label_error {
  color: rgb(199, 4, 4);
}
.nav .login .login_main .login-item .login-input:focus ~ .login-label,
.nav .login .login_main .login-item .login-input:not(:focus):valid ~ .login-label {
  top: -8px;
  font-size: 10px;
  font-size: x-small;
}
.nav .login .login_main .login-item .error-message {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
  font-size: x-small;
  font-weight: 300;
  color: rgb(199, 4, 4);
}
.nav .login .login_main .login-item .error-message span {
  margin-left: 2px;
}
.nav .login .login_main .login_reset-button {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  align-items: start;
}
.nav .login .login_main .login_pink-button {
  font-size: small;
  font-weight: 400;
  background-color: #ffffff;
  color: #c776a8;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: white 1px solid;
}
.nav .login .login_main .login_pink-button:hover {
  border-bottom: #c776a8 1px solid;
  cursor: pointer;
}
.nav .login .login_main .login_black-button {
  height: 40px;
  background-color: black;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav .login .login_main .login_black-button:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71);
}
.nav .login .login_main .login_black-button:disabled {
  cursor: auto;
  background-color: rgb(128, 128, 128);
}
.nav .login .login_main .login_line {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav .login .login_main .login_line hr {
  height: 1px;
  background-color: #cecece;
  border: none;
  width: 100%;
}
.nav .login .login_main .login_white-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: rgb(135, 135, 135) 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav .login .login_main .login_white-button svg {
  width: 1rem;
  height: 1rem;
}
.nav .login .login_main .login_white-button:hover {
  cursor: pointer;
  border-color: black;
}
.nav .login .login_main .login_create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 400;
  margin-bottom: 20px;
}
.nav .login .login_main .login_create-button span {
  margin-right: 2px;
}
.nav .open {
  visibility: visible;
  right: 0;
}
.nav .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: block;
}
.nav .overlay-none {
  display: none;
}

.nav_grey {
  background: rgba(68, 68, 68, 0.5);
}
.nav_grey .nav_main .nav_logo {
  color: white;
}
.nav_grey .nav_main .nav_main-button {
  box-shadow: none;
}
.nav_grey .nav_buttons .button-cart svg {
  stroke: white;
}
.nav_grey .nav_buttons .button-cart:hover {
  background-color: #8d8d8d;
}
.nav_grey .nav_buttons .button-login {
  box-shadow: none;
}
.nav_grey .nav_buttons .button-menu svg {
  stroke: white;
}
.nav_grey .nav_buttons .button-menu:hover {
  background-color: #8d8d8d;
}

.beckoning-info {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.beckoning-info .beckoning-info_vertical-marquee {
  padding: 0;
  font-size: 5rem;
  height: 7rem;
  overflow: hidden;
}
.beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track {
  padding: 0;
  padding-left: 50px;
  margin: 0;
  animation: vertical-scroll 15s steps(5, end) infinite;
  list-style: none;
}
.beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track li {
  padding: 0;
  height: 7rem;
}
.beckoning-info .beckoning-info_medium-text {
  padding-left: 50px;
  font-size: 4rem;
}
.beckoning-info .beckoning-info_small-text {
  padding-left: 50px;
  font-size: 2rem;
  font-weight: 200;
}
.beckoning-info .beckoning-info_articles {
  flex-grow: 1;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3px;
}
.beckoning-info .beckoning-info_articles .articles_button {
  opacity: 0.5;
  background-position: center center;
  padding: 0px 50px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  border-radius: 2rem;
  border: none;
  background-size: cover;
  color: black;
}
.beckoning-info .beckoning-info_articles .articles_button:hover {
  opacity: 1;
  cursor: pointer;
}
.beckoning-info .beckoning-info_articles .articles_button_red {
  background-image: url(../../public/cbt.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_green {
  background-image: url(../../public/hands.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_blue {
  background-image: url(../../public/smile.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_yellow {
  background-image: url(../../public/flower.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_violet {
  background-image: url(../../public/listen.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_pink {
  background-image: url(../../public/free.jpg);
}
.beckoning-info .beckoning-info_articles .articles_button_red:hover {
  background-image: none;
  background: #f56464;
  background: linear-gradient(90deg, rgb(245, 100, 100) 35%, rgb(255, 218, 166) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#F56464", endColorstr="#FFDAA6", GradientType=1 );
}
.beckoning-info .beckoning-info_articles .articles_button_green:hover {
  background: #9bbea2;
  background: linear-gradient(90deg, rgb(155, 190, 162) 50%, rgb(255, 207, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#9BBEA2", endColorstr="#FFCF75", GradientType=1 );
}
.beckoning-info .beckoning-info_articles .articles_button_blue:hover {
  background: #dbb2cb;
  background: linear-gradient(90deg, rgb(219, 178, 203) 36%, rgb(125, 166, 182) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#DBB2CB", endColorstr="#7DA6B6", GradientType=1 );
}
.beckoning-info .beckoning-info_articles .articles_button_yellow:hover {
  background: #63d0ff;
  background: linear-gradient(90deg, rgb(99, 208, 255) 0%, rgb(255, 237, 122) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#63D0FF", endColorstr="#FFED7A", GradientType=1 );
}
.beckoning-info .beckoning-info_articles .articles_button_violet:hover {
  background: #b67da2;
  background: linear-gradient(90deg, rgb(182, 125, 162) 50%, rgb(255, 207, 117) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#B67DA2", endColorstr="#FFCF75", GradientType=1 );
}
.beckoning-info .beckoning-info_articles .articles_button_pink:hover {
  background: #b8c8e6;
  background: linear-gradient(90deg, rgb(184, 200, 230) 36%, rgb(220, 177, 212) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#B8C8E6", endColorstr="#DCB1D4", GradientType=1 );
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.main-course {
  position: relative;
  display: flex;
  padding: 100px 350px;
  flex-direction: column;
  align-items: center;
  color: black;
  height: 100vh;
  background-image: url("../../public/mainArticleBigScreens.webp");
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  opacity: 0.9;
  color: white;
  box-shadow: inset 0 -200px 200px rgb(48, 48, 48);
  border-radius: 40px 40px 0 0;
}
.main-course h1 {
  text-align: center;
}
.main-course .main-course_buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 230px;
}
.main-course .main-course_buttons .main-course_buttons_white {
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 10rem;
  height: 3rem;
  margin-right: 7px;
  color: black;
}
.main-course .main-course_buttons .main-course_buttons_white:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.main-course .main-course_buttons .main-course_buttons_blur {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  width: 10rem;
  height: 3rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: black;
}
.main-course .main-course_buttons .main-course_buttons_blur:hover {
  cursor: pointer;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.about-course_container {
  height: 100vh;
  background-color: #444444;
  border-radius: 0 0 40px 40px;
  padding: 50px 110px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.about-course_container .about-course_content {
  padding: 0;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 40px;
}
.about-course_container .about-course_content .content_item1 {
  grid-column: 1/2;
  grid-row: 1/6;
  border-radius: 40px;
}
.about-course_container .about-course_content .content_item1 .item1_container {
  width: 100%;
  height: 100%;
  background-color: #393939;
  opacity: 0.6;
  border-radius: 40px;
}
.about-course_container .about-course_content .content_item1 .item1_container .item1_video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
.about-course_container .about-course_content .content_item1 .item1_container .item1_video-container video {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
.about-course_container .about-course_content .content_item1 .item1_container .item1_video-container .item1_button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 0 0 40px 40px;
  width: 100%;
  height: 20%;
}
.about-course_container .about-course_content .content_item1 .item1_container .item1_video-container .item1_button:hover {
  background-color: #292929;
  cursor: pointer;
}
.about-course_container .about-course_content .content_item2 {
  box-sizing: border-box;
  position: relative;
  background-color: #393939;
  opacity: 0.5;
  grid-column: 2/3;
  grid-row: 1/4;
  border-radius: 40px;
  perspective: 500px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.about-course_container .about-course_content .content_item2 .item2_container {
  padding: 20px 30px 20px 30px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.about-course_container .about-course_content .content_item2 .item2_container span {
  color: rgb(199, 4, 4);
}
.about-course_container .about-course_content .content_item2 .image {
  position: absolute;
  bottom: 0;
  width: 90%;
  border-radius: 40px 40px 0 0;
  transform: rotateX(60deg);
}
.about-course_container .about-course_content .content_item3 {
  background-color: #313131;
  opacity: 0.7;
  grid-column: 2/3;
  grid-row: 4/6;
  border-radius: 40px;
  overflow: hidden;
}
.about-course_container .about-course_content .content_item3 .item3_button {
  font-family: "Poppins", sans-serif;
  font-size: large;
  background-color: #313131;
  color: white;
  border: none;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-course_container .about-course_content .content_item3 .item3_button .button_info {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.about-course_container .about-course_content .content_item3 .item3_button .button_info span {
  margin-left: 8px;
}
.about-course_container .about-course_content .content_item3 .item3_button:hover {
  background-color: #292929;
  cursor: pointer;
}
.about-course_container .about-course_content .content_item3 hr {
  background-color: white;
  border: none;
  width: 70%;
  height: 0.3px;
  margin: 0 auto;
}

.courses_container {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(5);
  grid-gap: 8rem;
}
.courses_container .course_container {
  min-height: 52rem;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(250, 230, 234);
  border-radius: 40px;
}
.courses_container .course_container .image_container {
  display: flex;
  justify-content: center;
  position: relative;
}
.courses_container .course_container .image_container .course_image {
  width: 100%;
  height: 17rem;
  border-radius: 40px;
}
.courses_container .course_container .image_container .course_icon {
  animation: spin 1000ms linear infinite;
  width: 5rem;
  height: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.courses_container .course_container .course-program_container {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 8rem;
}
.courses_container .course_container .course-program_container .text-list_container {
  list-style-position: inside;
  padding-left: 0;
}
.courses_container .course_container .course-program_container.open {
  max-height: 50rem;
}
.courses_container .course_container .button-arrow_container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.courses_container .course_container .button-arrow_container .button-arrow {
  background: transparent;
  color: black;
  border: none;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}
.courses_container .course_container .button-arrow_container .button-arrow .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
}
.courses_container .course_container .button-arrow_container .button-arrow:hover {
  cursor: pointer;
}
.courses_container .course_container .course_button-add {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  background-color: #f8b7df;
  color: white;
}
.courses_container .course_container .course_button-add:hover {
  cursor: pointer;
  background-color: #f6adda;
}
.courses_container .course_container .course_button-delete {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  background-color: #4c4c4c;
  color: white;
}
.courses_container .course_container .course_button-delete:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}
.courses_container .course_container .display-none {
  display: none;
}
.courses_container .course_container .display-block {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cart_container {
  padding: 40px 150px;
  display: flex;
  justify-content: center;
}
.cart_container .cart_outer {
  border: #b492a8 0.1rem solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
  width: 90%;
  padding: 20px 80px;
}
.cart_container .cart_outer .cart-item {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #aca4aa 1px solid;
  border-bottom: #aca4aa 1px solid;
  margin-bottom: 20px;
}
.cart_container .cart_outer .cart-item .item-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_container .cart_outer .cart-item .item-main .item_title {
  margin-left: 30px;
  margin-right: 30px;
}
.cart_container .cart_outer .cart-item .item-main .item_price {
  margin-right: 30px;
}
.cart_container .cart_outer .cart-item img {
  height: 8rem;
  width: 12rem;
}
.cart_container .cart_outer .cart-item .item_button {
  background-color: white;
  border: rgb(223, 223, 223) 0.1rem solid;
  padding: 3px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.cart_container .cart_outer .cart-item .item_button svg {
  width: 2rem;
  height: 2rem;
}
.cart_container .cart_outer .cart-item .item_button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}
.cart_container .cart_outer .cart_sum-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.cart_container .cart_outer .cart_sum {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: end;
}
.cart_container .cart_outer .cart_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_container .cart_outer .cart_main .input_container {
  width: 30rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.cart_container .cart_outer .cart_main .input_container input {
  min-width: 100%;
  box-sizing: border-box;
  height: 3rem;
  border-radius: 20px;
  border: #aca4aa 1px solid;
  margin-bottom: 10px;
  padding-left: 20px;
}
.cart_container .cart_outer .cart_main .input_container .label_container {
  padding-left: 10px;
}
.cart_container .cart_outer .cart_main .phone-input_container {
  box-sizing: border-box;
  position: relative;
  width: 30rem;
  height: 3rem;
  border-radius: 20px;
  border: #aca4aa 1px solid;
  margin-bottom: 10px;
  padding-left: 22px;
}
.cart_container .cart_outer .cart_main .phone-input_container .phone-input {
  position: absolute;
  left: 10px;
  top: 5px;
  border: none;
}
.cart_container .cart_outer .cart_main .phone-input_container .phone-input_button {
  position: absolute;
  background: transparent;
  border: none;
  padding: 5px;
  left: 13px;
  top: -2px;
}
.cart_container .cart_outer .cart_main .phone-input_container .phone-input_button:hover {
  background-color: transparent;
}
.cart_container .cart_outer .cart_main .contact {
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  box-sizing: border-box;
  width: 30rem;
}
.cart_container .cart_outer .cart_main .contact legend {
  padding-left: 0;
}
.cart_container .cart_outer .cart_main .contact label {
  cursor: pointer;
}
.cart_container .cart_outer .cart_main .contact input {
  accent-color: black;
  margin-left: 0;
}
.cart_container .cart_outer .cart_main .remember {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30rem;
}
.cart_container .cart_outer .cart_main .remember input {
  margin-left: 0;
  accent-color: black;
}
.cart_container .cart_outer .cart_main .cart-button {
  background-color: #c776a8;
  color: white;
  width: 30rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
}
.cart_container .cart_outer .cart_main .cart-button:hover {
  cursor: pointer;
  background-color: rgb(187, 100, 150);
}
.cart_container .cart_outer .cart_main .cart-button:disabled {
  background-color: #aca4aa;
}

.footer_container {
  background-color: #c776a8;
  padding: 80px 50px;
  margin-bottom: 0;
}
.footer_container .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container .footer .footer_section {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer_container .footer button {
  width: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-right: 0;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  border-bottom: transparent 1px solid;
  color: black;
}
.footer_container .footer button:hover {
  border-color: black;
  cursor: pointer;
}

@media (max-width: 1280px) and (max-height: 900px) {
  .beckoning-info .beckoning-info_vertical-marquee {
    font-size: 3rem;
    height: 5rem;
  }
  .beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track li {
    height: 5rem;
  }
  .main-course {
    padding: 80px 350px;
  }
  .main-course h1 {
    font-size: x-large;
  }
  .main-course .main-course_buttons {
    bottom: 150px;
  }
  .about-course_container {
    padding: 40px 80px;
    height: 100vh;
  }
  .about-course_container .about-course_content .content_item1 {
    grid-row: 1/5;
  }
  .about-course_container .about-course_content .content_item2 {
    grid-row: 1/3;
  }
  .about-course_container .about-course_content .content_item2 .item2_container {
    padding: 5px 20px;
    font-size: large;
  }
  .about-course_container .about-course_content .content_item2 .image {
    bottom: -10px;
  }
  .about-course_container .about-course_content .content_item3 {
    grid-row: 3/5;
  }
  .about-course_container .about-course_content .content_item3 .item3_button {
    font-size: medium;
  }
  .about-course_container .about-course_content .content_item3 .item3_button .button_info svg {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 1280px) {
  .courses_container {
    padding: 60px 20px;
    grid-gap: 2rem;
  }
  .courses_container .course_container {
    min-height: 60rem;
  }
  .courses_container .course_container .course_image {
    height: 15rem;
  }
}
@media (max-width: 1024px) and (min-height: 700px) {
  .running-line {
    font-size: xx-small;
  }
  .running-line hr {
    height: 25px;
  }
  .running-line .running-line_marquee {
    width: 900%;
  }
  .running-line .running-line_marquee .running-line_track {
    width: 1200%;
  }
  .nav .side-menu {
    padding: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    border-radius: 0;
  }
  .nav .login {
    box-sizing: border-box;
    padding: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
  }
  .nav .open {
    visibility: visible;
    right: 0%;
  }
  .beckoning-info {
    box-sizing: border-box;
  }
  .beckoning-info .beckoning-info_vertical-marquee {
    font-size: 3rem;
    height: 5rem;
  }
  .beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track li {
    height: 5rem;
  }
  .beckoning-info .beckoning-info_medium-text {
    padding-left: 40px;
    font-size: 2rem;
  }
  .beckoning-info .beckoning-info_small-text {
    font-size: 1.5rem;
    padding-left: 40px;
  }
  .beckoning-info .beckoning-info_articles {
    padding: 30px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
  }
  .main-course {
    background-image: url("../../public/mainArticleSmallScreens.webp");
    height: 100vh;
    padding: 80px 100px;
  }
  .main-course h1 {
    font-size: x-large;
  }
  .main-course .main-course_buttons {
    bottom: 150px;
  }
  .about-course_container {
    height: 50vh;
    padding: 50px;
  }
  .about-course_container .about-course_content .content_item1 {
    grid-row: 1/4;
  }
  .about-course_container .about-course_content .content_item2 {
    grid-row: 1/3;
  }
  .about-course_container .about-course_content .content_item2 .item2_container {
    padding: 5px 20px;
    font-size: small;
  }
  .about-course_container .about-course_content .content_item3 {
    grid-row: 3/3;
  }
  .about-course_container .about-course_content .content_item3 .item3_button {
    font-size: medium;
  }
  .about-course_container .about-course_content .content_item3 .item3_button .button_info svg {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 1024px) {
  .courses_container {
    padding: 60px 20px;
    grid-gap: 2rem;
  }
}
@media (max-width: 800px) {
  .courses_container {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
  }
  .courses_container .course_container {
    min-height: 40rem;
  }
  .item2_container {
    padding: 5px 20px;
    font-size: medium;
  }
}
@media (max-width: 750px) {
  .running-line {
    font-size: 0.5rem;
  }
  .running-line hr {
    height: 20px;
  }
  .running-line .running-line_marquee {
    width: 1500%;
  }
  .running-line .running-line_marquee .running-line_track {
    width: 1800%;
  }
  .nav .login {
    width: 100vw;
  }
  .nav .login .login_main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav .login .login_main .login_white-button {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav .login .side-menu {
    width: 100vw;
  }
  .beckoning-info {
    padding: 5px;
  }
  .beckoning-info .beckoning-info_vertical-marquee {
    font-size: 2rem;
    height: 3.5rem;
  }
  .beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track {
    padding-left: 20px;
  }
  .beckoning-info .beckoning-info_vertical-marquee .beckoning-info_vertical-track li {
    height: 3.5rem;
  }
  .beckoning-info .beckoning-info_medium-text {
    padding-left: 20px;
    font-size: 1.2rem;
  }
  .beckoning-info .beckoning-info_small-text {
    font-size: 1rem;
    padding-left: 20px;
  }
  .beckoning-info .beckoning-info_articles {
    padding: 30px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
  }
  .beckoning-info .beckoning-info_articles .articles_button {
    padding: 0px 20px;
  }
  .main-course {
    background-image: url("../../public/mainArticleSmallScreens.webp");
    height: 100vh;
    padding: 80px 100px;
    padding-top: 60px;
  }
  .main-course h1 {
    font-size: medium;
  }
  .main-course .main-course_buttons {
    bottom: 80px;
  }
  .about-course_container {
    height: 210vh;
    padding: 60px 30px;
  }
  .about-course_container .about-course_content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-course_container .about-course_content .content_item1 {
    grid-column: 1/1;
    grid-row: 1/6;
  }
  .about-course_container .about-course_content .content_item2 {
    grid-column: 1/1;
    grid-row: 6/9;
  }
  .about-course_container .about-course_content .content_item2 .item2_container {
    padding: 5px 20px;
  }
  .about-course_container .about-course_content .content_item2 .image {
    bottom: -40px;
  }
  .about-course_container .about-course_content .content_item3 {
    grid-column: 1/1;
    grid-row: 9/11;
  }
  .about-course_container .about-course_content .content_item3 .item3_button {
    font-size: medium;
  }
  .about-course_container .about-course_content .content_item3 .item3_button .button_info svg {
    width: 2rem;
    height: 2rem;
  }
  .courses_container {
    padding: 30px 15px;
  }
  .courses_container .course_container {
    padding: 40px;
  }
  .courses_container .course_container .image_container .course_image {
    height: 20rem;
  }
}
@media (max-width: 750px) and (min-height: 721px) {
  .about-course_container {
    height: 160vh;
  }
}
@media (max-width: 750px) {
  .cart_container {
    padding: 40px 20px;
  }
  .cart_container .cart_outer {
    width: 80%;
    padding: 20px 20px;
  }
  .cart_container .cart_outer .cart-item {
    box-sizing: border-box;
    font-size: xx-small;
  }
  .cart_container .cart_outer .cart-item img {
    height: 5rem;
    width: 10rem;
  }
  .cart_container .cart_outer .cart-item .item_button svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .cart_container .cart_outer .cart_main .input_container {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .phone-input_container {
    box-sizing: border-box;
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .cart_sum-container {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .contact {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .remember {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .cart-button {
    width: 20rem;
  }
}
@media (max-width: 540px) {
  .courses_container {
    padding: 30px 30px;
  }
  .courses_container .course_container {
    padding: 30px;
  }
  .courses_container .course_container .image_container .course_image {
    height: 13rem;
  }
  .about-course_container .about-course_content .content_item2 .image {
    bottom: -30px;
  }
  .footer_container {
    background-color: #c776a8;
    padding: 80px 50px;
    margin-bottom: 0;
  }
  .footer_container .footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
  }
  .footer_container .footer .footer_section {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .cart_container {
    padding: 20px 5px;
  }
  .cart_container .cart_outer {
    width: 80%;
    padding: 20px 30px;
  }
  .cart_container .cart_outer .cart-item {
    box-sizing: border-box;
    font-size: xx-small;
  }
  .cart_container .cart_outer .cart-item img {
    height: 3rem;
    width: 5rem;
  }
  .cart_container .cart_outer .cart-item .item_button svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .cart_container .cart_outer .cart_main .input_container {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .phone-input_container {
    box-sizing: border-box;
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .contact {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .remember {
    width: 20rem;
  }
  .cart_container .cart_outer .cart_main .cart-button {
    width: 20rem;
  }
}
@media (max-height: 1000px) {
  .about-course_container {
    height: 160vh;
  }
}
@media (max-height: 850px) {
  .about-course_container {
    height: 170vh;
  }
  .about-course_container .about-course_content .item2_container {
    font-size: small;
  }
}
@media (max-height: 740px) {
  .about-course_container {
    height: 210vh;
  }
}
@media (max-height: 600px) {
  .about-course_container {
    height: 220vh;
  }
  .about-course_container .item2_container {
    font-size: medium;
  }
}/*# sourceMappingURL=App.css.map */